<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfAppSQL.Properties.Settings.DESKTOP_C5PJ2H2ConnectionString"
            connectionString="Data Source=DESKTOP-C5PJ2H2;Initial Catalog=DESKTOP-C5PJ2H2;User ID=sa;Password=45255JMaf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>